.main {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #ebc03d;
  text-align: center;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
}

.card {
  display: flex;
}

.left {
  width: 400px;
  height: 650px;
  background-color: gray;
  border-radius: 10px;
}

.right {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
