.concl {
  margin-top: 200px;
  /* padding-left: 100px;
  padding-right: 100px; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h3nc {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.textConcl {
  margin-top: 20px;
}

.empls {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  min-height: 500px;
}

.empl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.emplImg1,
.emplImg2,
.emplImg3,
.emplImg4 {
  width: 300px;
  height: 300px;
  border-radius: 20em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-size: cover;
}

.emplImg1 {
  background-image: url(sotr1.png);
}

.emplImg2 {
  background-image: url(sotr2.png);
}

.emplImg3 {
  background-image: url(sotr3.png);
}

.emplImg4 {
  background-image: url(sotr4.png);
}
